.grid-list-item {
	width: calc(100% / 3);
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus, &:active {
		text-decoration: none;
	}

	img {
		width: 100%;
	}

	@media(min-width: $monitorBreak) {
		width: 25%;
	}

	@media(max-width: $mobileBreak) {
		width: 50%;

		&:nth-of-type(odd) {
			padding-left: 0;
		}
		&:nth-of-type(even) {
			padding-right: 0;
		}
	}
}
