.grid-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: $transWhite;
	transition: all .35s ease;

	&-content {
		height: 100%;
		width: 100%;
		padding: 60px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		cursor: pointer;

		&-text {
			font-size: 34px;
			font-family: $sans-serif;
			text-transform: uppercase;
			flex: 1;
			text-align: right;
			padding: 25px;
			padding-right: 10vw;
			background-color: #fff;
		}

		&-image {
			flex: 1;
			text-align: right;
			img {
				flex: 1;
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
}


//appear/dissapear animations
.modal-fade {
	&-enter {
		opacity: 0;
		transform: translateY(-50px);
		z-index: -1;
		pointer-events: none;

		&.modal-fade-enter-active {
			opacity: 1;
			transform: translateY(0);
			z-index: 100;
			pointer-events: auto;
		}
	}

	&-leave {
		opacity: 1;
		transform: translateY(0);
		z-index: 100;
		pointer-events: auto;

		&.modal-fade-leave-active {
			opacity: 0;
			transform: translateY(-50px);
			z-index: -1;
			pointer-events: none;
		}
	}
}
