* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #fff;
}

//LAYOUT
.app-wrap {
	display: flex;
	flex-direction: row;
	padding-top: 35px;

	@media(max-width: $tabletBreak) {
		padding-top: 0;
	}
}
.view-wrap {
	width: 100%;
	padding-left: 200px;
	padding-top: 75px;

	@media(max-width: $tabletBreak) {
		padding-top: 65px;
		padding-left: 0;
	}
}
header {
	padding-top: 30px;
}
.width-container {
	width: 100%;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;

	@media(max-width: $tabletBreak) {
		max-width: 100%;
		padding-left: 3.5vw;
		padding-right: 3.5vw;
	}
}


//TYPO
a {
	text-decoration: none;
	color: $darkText;

	&:hover {
		text-decoration: underline;
	}
}
