header {
	position: fixed;
	left: 0;
	top: 0;
	width: 180px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
	z-index: 50;

	.header-item {
		width: 100%;

		&-viewing-label {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
		}

		&-logo {
			text-align: center;
			img {
				width: 110px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
