.value-machine .file-display {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: opacity .35s ease;
	transition-delay: .35s;

	&-loader {
		position: absolute;
		height: 100%;
		width: 100%;
		animation: hideLoader .5s linear 1;
		animation-fill-mode: forwards;
		animation-delay: 2s;

		.spinner {
			@include absCenter();
			animation: spinner 2s linear 2; //reuse gridPlaceholder spinner animation
			animation-direction: alternate-reverse;
			animation-fill-mode: forwards;
			height: 30px;
			width: 30px;
			border: 2px solid $darkText;
			transform-origin: center center;

			&:last-of-type {
				animation-delay: -2s;
			}
		}
	}

	.show-loaded {
		opacity: 0;
		animation: showLoaded .35s ease-out 1;
		animation-fill-mode: forwards;
		animation-delay: 2.5s;
	}

	&-image {
		max-height: calc(100% - 50px);
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
		}
	}
}

@keyframes showLoaded {
	from {
		opacity: 0;transform: translate(0, -50px);
	}
	to {
		opacity: 1;transform: translate(0, 0);
	}
}

@keyframes hideLoader {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

.file-display.display-fade {
	&-enter {
		opacity: 0;
		pointer-events: none;

		&.display-fade-enter-active {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
