.file-display {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: opacity .35s ease;
	// transition-delay: .35s;

	&-image {
		max-height: calc(100% - 50px);
		overflow: hidden;
		position: relative;
		border: 2px solid $darkText;
		border-bottom-width: 0px;

		img {
			width: 100%;
			display: block;
		}
	}

	&-actions {
		height: 50px;
		padding: 0 15px;
		border: 2px solid $darkText;
		border-top-width: 0px;
		line-height: 50px;
	}
}
